@import './variables.scss';

.channel {
    display: flex;
    border-bottom: 1px solid $color-lighter-gray;
}

.channel-logo {
    left: 0;
    display: flex;
    width: var(--channel-logo-size);
    height: var(--channel-logo-size);
    padding: 0.8rem;
    position: sticky;
    background-color: $color-gray;
    box-shadow: 2px 0 3px $color-black;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: difference;
    }
  }