@import './variables.scss';

nav {
    background-color: $color-gray;
    text-align: center;
    
    ul {
      display: flex;
      width: 100%;
      list-style: none;
      padding: 0.6rem;
        
      li {
        flex: 0 1 20%;
        cursor: pointer;

        &.selected {
            color: $color-yellow;
        }

        &:focus,
        &:active {
            color: $color-yellow;
        }
      }

}
      
}